<bb-layout>
  <md-grid-list
        md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
        md-cols-lg="5" md-cols-gt-lg="6"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="6px">

    <md-grid-tile md-rowspan="1"
                  md-colspan-sm="2" md-colspan="3"
                  class="md-whiteframe-z1 head-tile">

      <section layout="row" layout-wrap>
        <div flex="80" hide-sm>
          <bb-logo />
        </div>
        <div flex="20" flex-sm="100" class="button-container" hide-sm>
          <md-button  ng-click="app.logout()"
                      class="blended-button">Sign Out</md-button>
        </div>
        <div flex="90" offset="5" class="form-container">

          <form name="messageForm" md-theme="bb-green"
                ng-init="home.recipeUrlForm = {}" ng-submit="home.sendUrl()">

            <md-input-container flex="100">
              <label  for="url">Your wish is my command...</label>
              <input  ng-model="home.recipeUrlForm.url" name="url">
            </md-input-container>

          </form>
        </div>
      </section>

    </md-grid-tile>

    <md-grid-tile ng-repeat="recipe in home.recipes | orderBy:'-created_at'""
                  ng-click="home.showRecipe(recipe)"
                  md-rowspan="1" md-colspan="1"
                  class="md-whiteframe-z1">

      <img  style="width:100%;max-height:100%"
            ng-src="{{recipe['image_url']}}" alt="{{recipe.title}}" />
      <md-grid-tile-footer>
        <h3>{{:: recipe.title || recipe.url}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</bb-layout>
