bb-auth-form {
  h3 {
    margin-top: 10px;
    color: #666;
    font-weight: bold;

    span {
      color: #999;
      font-weight: lighter;
    }
  }
}

.button-container {
  padding: 0 7px;

  .contained-button {
    width: 100%;
    height: 40px;
    margin: 10px auto;
  }

  .blended-button {
    margin: 10px auto -10px;
    color: #999;
  }
}
