// Grayscale
$white:           #fff;
$offWhite:        #eaeaea;
$mediumWarmGray:  rgba(0,0,0,0.12);

// Brand colors
$primaryOrange:   #FA6529;
$gradientOrange:  rgba(218,118,80, 0.5);
$secondaryOrange: #FF9E80;

$mediumGreen:     #008030;
$darkGreen:       #2E7D32;
