.bb-logo { /** add multiple size classes */
  padding-left: 10px;
  padding-top: 5px;
  max-width: 200px;
  cursor: pointer;

  img {
    max-height: 100%;
    max-width: 100%;

    @media (max-width: 600px) {
      display: block;
    }
  }

  @media (max-width: 600px) {
    margin: 5px auto;
    height: 70px;
  }
}

.toolbar-logo {
  width: 100%;
}
